#rectangle{
    margin: 40px;
    width: 100px;
    height: 280px;
    border: 2px solid black;
}
.circle{
    height: 80px;
    width: 80px;
    border: 2px solid black;
    margin: 7.4px;
    border-radius: 50%;
}
#red{
    background-color: red;
}
#yellow{
    background-color: yellow;
}
#green{
    background-color: green;
}