div{
    height: 300px;
    width: 300px;
    border: 30px solid grey;
    border-top-color:black ;
    margin: 200px;
    border-radius: 50%;
    animation: loader 5s ease-in infinite ;
}
@keyframes loader{
    0%{transform: rotate(0deg); }
    25%{transform:rotate(90deg);}
    50%{transform:rotate(180deg);}
    75%{transform: rotate(270deg);}
    100%{transform:rotate(360deg)};
}