.card {
    height: 280px;
    width: 280px;
    border: 2px solid black;
    display: inline-block;
    border-radius: 5px 5px 0px;
    margin: 10px;
    box-shadow: 4px 8px 10px black;
    transition: 2s;
}
img{
    width: 100%;
    border-radius: 5px 5px 0px;
    height: 70%;
}
.desc{
    padding-left: 10px;
}
.card:hover{
    box-shadow: 8px 16px 10px black;

}